<template id="generation-template">
    <div v-if="ispressed">
        <div class="card-header text-center">
            Equations in database: {{equationTotal}} (Separable: {{equationCountByType[0]}}, Homogeneous: {{equationCountByType[1]}} )
        </div>
        <div class="card-body">
            <form @submit.prevent="validateAndSend">
                <p v-if="errors.length">
                    <ul>
                        <li v-for="item in errors">{{ item }}</li>
                    </ul>
                </p>
                <p>
                    <label for="sveq">Separable variables equations </label>
                    <input v-model="sveq"
                           type="number"
                           name="sveq"
                           min=0
                           defaultValue=0>
                </p>
                <p>
                    <label for="hgeq">Homogeneous equations </label>
                    <input v-model="hgeq"
                           type="number"
                           min=0
                           defaultValue=0>
                </p>
                <button class="btn btn-success" type="submit">Start Gen</button>
            </form>
        </div>
    </div>
</template>