<template id="nav-button-bar-template">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" @click = "buttonPressed(1)">Generate Equations</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" @click = "buttonPressed(2)">Random Test</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" @click = "buttonPressed(3)">Custom Test</button>
        </div>
    </div>
</template>