<template id="test-template">
    <div v-if="isenabled" class="card-body">
        <ul id="MathStuff">
            <li v-for="(item, index) in equations" style="list-style: none;">
                <p>
                    $${{item.equationLatex}}$$
                    <div>
                        Solution: 
                        <span v-if="solutionsChecked">{{solutionResults[index]}}</span>
                    </div>                   
                    <input type="text" class="form-control" v-model="userSolutions[index]">
                </p>
            </li>
        </ul>       
        <div class="text-center">
            <div v-if="solutionsChecked">{{userScore}}/{{equationsTotal}}</div>
            <button class="btn btn-success" @click="checkButtonPress">Check</button>
        </div>
    </div>
</template>