@{
    ViewData["Title"] = "Generation";
}
<div v-if="genFormSpawn">
    <p>
        <label for="sveq">Separable variables equations</label>
        <input v-model="sveq"
               type="number"
               name="sveq"
               min="0">
    </p>
    <p>
        <label for="hgeq">Homogeneous equations</label>
        <input v-model="hgeq"
               type="number"
               name="hgeq"
               min="0">
    </p>
    <p>
        <button v-on:click="sendGenOrder()">Start Gen</button>
    </p>
</div>
