@{
    ViewData["Title"] = "Test";
}
    <div v-if="testSpawn">
        <ul id="MathStuff">
            <li v-for="(item, index) in equations" style="list-style: none;">
                <p>
                    $${{item.equationLatex}}$$
                    <span v-bind:style="{color: solutionColor[index]}">Solution: </span><input type="text" v-model="userSolutions[index]" style="width: 500px;">
                </p>
            </li>
        </ul>
        <p>
            <button v-on:click="checked = true; checkInput()">Check</button>
            <div v-if="checked">{{score}}/4</div>
        </p>
    </div>
